@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.card {
  @apply border rounded-xl p-4 shadow-md hover:shadow-lg transition;
}
/* لا تستخدم @apply bg-light هنا */
/* استخدم className في JSX بدلًا من كده */

html[dir="rtl"] {
  font-family: 'Tajawal', sans-serif;
}

html[dir="ltr"] {
  font-family: 'Inter', sans-serif;
}